body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
header{
    background-image: linear-gradient(to bottom, #3e9722, #62ab29, #84bf32, #a7d23b, #cae646);
    position: fixed;
    width: 920px;
    padding:20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

header h3{
    margin: 0px;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 0px;
}

ul li{
    background-color: rgba(255, 255, 255, 0.71);
    border-radius: 7px;
    padding: 10px 20px;
    font-weight: bolder;
}

#fijado
{
    background-color: orange;
}
