body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    background-color: #182C3A;
    margin-bottom: 15px;
}


header h3{
    padding: 8px;
    border-radius: 20px;
    color: #4884AF;
    font-style: italic;
}

#contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input[type="submit"]{
    width: max-content;
    background-color: #4984AE;
    border: none;
    padding: 8px;
    border-radius: 19px;
}

input[type="date"]{
    border-radius: 18px;
    padding: 8px;
}